<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Empty{% endblock %}</title>
    {% include "global-meta" %}

    <!-- Styles: these are for development only.
         Combine the min files when deploying project.
    -->
    {{ "master.css" | asset_url | stylesheet_tag }}
    {{ "project.css" | asset_url | stylesheet_tag }}

    <!-- Style block allowing child pages to inject their own styles -->
    {% block styles %}{% endblock %}
  </head>

  <body>

    <div class="page">

    <header class="header-base" role="banner">
      <div class="content">
        {% include "main-nav" %}
        {% include "header" %}
      </div>
    </header>

    <section class="content-base">

      {% block content %}{% endblock %}

    </section>

    <footer class="footer-base" role="contentinfo">
      <div class="content">
        {% include "footer" %}
      </div>
    </footer>

  </div> <!-- end .page -->

    {% include "outro" %}

  </body>
</html>
